extends page.template.pug
block page_head
	title Now
block page
	h1 Now

	ul
		li #[b xa] — a cryptographic identity protocol for cross-signing keys across platforms.
		li #[b xin] — a federated, cryptography-first message relay protocol, starting with email.
		li #[b guild] — an author-trust-based manager for single-file executables.
		li #[b pact] — a Linux distribution architecture separating an immutable platform from sandboxed, author-distributed applications.
		li #[b testd] — a local dev domain manager for stable HTTPS on .test domains.
		li This site.

	p
		small Updated April 2026. Inspired by #[a(href='https://sive.rs/nowff') sive.rs/now].
