doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Blair Noctis
		link(rel="stylesheet" href="index.css")
		link(rel="stylesheet" href="https://fontlibrary.org/face/roboto" type="text/css")
	body
		nav
			a(href="https://github.com") GitHub
			a(href="https://colorless.ink") WRITINGS
			a(href="/about") ABOUT ME
		.name
			- for(let c of 'BLAIR_NOCTIS')
				span= c
