doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Blair Noctis
		link(rel="stylesheet" href="style.css")
	body
		.eng.name
			h1
				span.first Blair
				| 
				span.last Noctis
		.chn.name
			h1
				span.last 墨
				span.first 原
			.content#about
				p 不学无术，不知无谓。
				p 不咸不淡，不见经传。

				p 喜欢探索和创造。偏安一隅是件可怕的事情。

				p 喜欢编程，野路子开发者。
					br
					| 会一些前端，会一些后端。

				p
					| 喜欢科幻，
					abbr(title='Star Trek') 四个象限
					| 的那种。探索未知总是令人激动。当然，会发糖的那种就算了。

				p 游戏是生活的一部分。最喜欢的是 Watch_Dogs ，最近在等 Cyberpunk 2077。（波兰蠢驴你又跳票了！）

				div.my-links
					a(href="https://colorless.ink"): img(alt="Writings" src="https://img.icons8.com/ios-filled/50/000000/paragraph.png")
					a(href="https://github.com/noctfield"): img(alt="GitHub" src="https://img.icons8.com/ios-filled/50/000000/github.png")
					a(href="https://keybase.io/noctfield"): img(alt="Keybase" src="https://img.icons8.com/ios-filled/50/000000/keybase2.png")
					a(href="https://is.gd/contactbn"): img(alt="Email" src="https://img.icons8.com/ios-filled/50/email-open.png")
					a(href="https://twitter.com/Noctfield"): img(alt="Twitter" src="https://img.icons8.com/ios-filled/50/000000/twitter.png")
					a(href="https://t.me/BlairNoctisPMBot"): img(alt="Telegram" src="https://img.icons8.com/ios-filled/50/000000/sent.png")
					a(href="https://steamcommunity.com/id/Noctfield"): img(alt="Steam" src="https://img.icons8.com/ios-filled/50/000000/steam-circled.png")
					a(href="https://python.org"): img(alt="Python" src="https://img.icons8.com/ios-filled/50/000000/python.png")
					a(href="https://www.mozilla.org/firefox"): img(alt="Firefox" src="https://img.icons8.com/ios-filled/50/000000/firefox.png")
					a(href="https://en.wikipedia.org/wiki/Assassin%27s_Creed"): img(alt="Assassin's Creed" src="https://img.icons8.com/ios-filled/50/000000/assassins-creed-logo.png")

				h2 朋友们

				p.friend-links
					a(href="https://tt.codes")
						img(src="https://avatars0.githubusercontent.com/u/876694?s=460&v=4")
						| whtsky
					a(href="https://reorx.com")
						img(src="https://avatars0.githubusercontent.com/u/405972?s=460&v=4")
						| reorx
					a(href="https://github.com/noctiomg")
						img(src="https://avatars0.githubusercontent.com/u/6418374?s=460&v=4")
						| nocti
					a(href="https://ipotato.me")
						img(src="https://avatars0.githubusercontent.com/u/1446531?s=460&v=4")
						| JmPotato
					a(href="https://gaoryrt.com")
						img(src="https://avatars0.githubusercontent.com/u/5306513?s=460&v=4")
						| gaoryrt
					| (
					a(href="https://jungle.fm") jungle.fm
					| )

				p 谢谢你们愿意与我共度时光。
			.footer
				p
					| Background image courtesy of 
					a(href="https://unsplash.com/")
				p
					| Icons courtesy of 
					a(href="https://")
					| , under XXX license.
