* { box-sizing: border-box; }
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: lightgrey;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: url(https://source.unsplash.com/Ki0dpxd3LGc);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
a {
	color: inherit;
}
.veil, .content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.veil {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	clip-path: polygon(0 0, 100% 0, 100% 95%, 95%, 100%, 0 100%);
	user-select: none;
}
.veil h1 {
	font-size: 12vw;
}
.content {
	background-color: rgba(0, 0, 0, .5);
	clip-path: polygon(0 0);
	padding: 10vh;
	font-size: 1.1em;
}
@media(max-width: 768px) {
	.veil h1 {
		font-size: 20vw;
	}
	.content {
		padding: 5vh;
	}
}
